body{
    background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}




button{
    width: 200px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 800;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   background-color: blue;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: box-shadow 1s ease;
}


button:hover{
  box-shadow: none;
   background-color: rgb(19, 19, 244);
}
