*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
       background: linear-gradient(to right, #ff7a18, #af002d);
    width: 100%;
}

.main-calculatar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  background-color: rgba(245, 245, 245, 0.329);
  backdrop-filter: calc(blur 10px);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 10px 10px 0px solid black;
  animation-name: spin;
  animation-duration: 2s; /* Takes 2 seconds to complete */
  animation-iteration-count: infinite; /* Repeats forever */
  animation-timing-function: linear;
}

.input input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  border: none;
  outline: none;
  height: 50px;
  text-align: right;
  font-size: 30px;
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 10px;
    padding: 15px;
    flex-direction: column;
    cursor: pointer;
  margin-top: 10px;
  outline: none;
  border: none 1px  solid black;
  font-size: 30px !important;
}

.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
   font-size: 30px;
    
    
}
.btn-1 button{
   width: 70px !important;
    padding: 10px;
     border-radius: 10px;
     font-size: 25px !important;
     border: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     cursor: pointer;
    
}
.red{
    background-color: red;
    color: white;
    border: none;
      width: 100px;
    padding: 10px;
     border-radius: 10px;
    align-self: center;
    justify-self: center;
}

.gray{
    background-color: orangered;
    color: white;
     width: 100px;
    padding: 10px;
     border-radius: 10px;
}

.red:hover{
 
color: rgba(0, 0, 0, 0.61);
}

.gray:hover{
   
  color: rgba(0, 0, 0, 0.61);
}


@media only screen and (max-width:768px){
body{
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20vh;
}


  .main-calculatar{
  width: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.input input{
  width: 270px;
  height: 40px;
  padding: 10px;
}
.btn-1 button {
  width: 50px !important;
  padding: 7px;
  font-size: 15px !important;
  
  
}
}


