*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
       background: linear-gradient(to right, #ff7a18, #af002d);
    width: 100%;
}

.main-calculatar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  background-color: rgba(245, 245, 245, 0.329);
  backdrop-filter: calc(blur 10px);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 10px 10px 0px solid black;
  animation-name: spin;
  animation-duration: 2s; /* Takes 2 seconds to complete */
  animation-iteration-count: infinite; /* Repeats forever */
  animation-timing-function: linear;
}

.input input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  border: none;
  outline: none;
  height: 60px;
  text-align: right;
  font-size: 30px;
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    cursor: pointer;
  margin-top: 10px;
  outline: none;
  border: none 1px  solid black;
}

.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 15px;
   
}
.btn-1 button{
    width: 80px;
    padding: 7px;
     border-radius: 10px;
     border: none;
     font-size: 35px;
     cursor: pointer;
}

.red{
    background-color: red;
    color: white;
    border: none;
}

.gray{
    background-color: orangered;
    color: white;
    
}

.red:hover{
 
color: rgba(0, 0, 0, 0.61);
}

.gray:hover{
   
  color: rgba(0, 0, 0, 0.61);
}

