* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 100%;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    height: 400px;
    width: 400px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   text-align: center;
   padding: 20px;
}

.parra {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    margin-right: 20px;
    padding-bottom: 10%;
    gap: 10px;
    padding-right: 5%;

}

.parra h1 {
    color: blue;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.parra p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.login input {
    width: 350px;
    padding: 15px;
    align-self: flex-start;
     border-radius: 5px;
     border: 2px solid gray;
  align-self: center;
  font-size: 15px;
}

.login a {
    text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.login button{
    width: 250px;
    padding: 12px;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 5px;
       font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font: size 20px; 
    color: #FFFFFF;
}

.login .btn-1{
    width: 98%;
    background-color: #0866f8;
    color: #FFFFFF;
       border-radius: 5px;
       font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font: size 30px; 
    text-align: center;
  border: 2px solid #0866f8;
}

hr{
    width: 80%;
}

.login button{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.login input:hover{
    border: 2px solid #0866f8;
}


.login a:hover{
   text-decoration: underline #0866f8;
   padding-top: 2px;
    
}

@media screen and (max-width:480px){
    body{
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    .parra p{
        display: none;
    }
    .login{
        width: 100%;
    }
    .login input{
        width: 300px;
    }
}