* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
   flex-direction: column;
   display: flex;
   align-items: center;
  
}

img{
    width: 300px;
    height: 500px;
    align-items: center;

}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}